:root {
  --cor-laranja: #df924f;
  --cor-esverdeada: #6bcc90;
  --cor-titulo: rgb(53, 65, 61);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

/* Estilos para cabeçalho */
header {
  text-align: center;
  margin-bottom: 20px;
}

.cadastro {
  color: var(--cor-titulo);
}

/* Estilos para o formulário */
.container {
  width: 600px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

@media screen and (max-width: 450px) {
  .container {
    width: 90%;
  }
}

h4 {
  color: var(--cor-esverdeada);
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 5px;
  color: var(--cor-titulo);
}

input,
textarea {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--cor-esverdeada);
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.btn-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

input[type="submit"] {
  background-color: var(--cor-esverdeada);
  color: white;
  cursor: pointer;
  transition: background-color 0.7s;
}

input[type="submit"]:hover {
  background-color: rgb(41, 185, 41);
  color: white;
  cursor: pointer;
}

.voltar,
#btn-reset,
.btn-padrao {
  width: 100%;
}

.voltar {
  width: 90px;
  padding: 8px 16px;
  text-decoration: none;
  background-color: var(--cor-laranja);
  color: white;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 0px;
  transition: background-color 0.5s;
}

#btn-reset {
  width: 120px;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #ac1815;
  color: white;
  margin-top: 10px;
  margin-right: 0px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  border-radius: 4px;
}

#btn-reset:hover,
#excluirTodosButton:hover {
  background-color: #ec2622;
}

#btn-reset,
#excluirTodosButton {
  margin-left: 100px;
}

.btn-padrao {
  width: 120px;
  padding: 8px 16px;
  text-decoration: none;
  background-color: var(--cor-laranja);
  color: white;
  margin-top: 10px;
  margin-right: 0px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  border-radius: 4px;
}

.delete-button {
  text-align: center;
  width: 70px;
  padding: 8px 16px;
  text-decoration: none;
  background-color: var(--cor-laranja);
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  border-radius: 4px;
}

button:hover,
a.voltar:hover {
  background-color: rgb(238, 173, 52);
}
